@use "variables" as *;

// HELPER

@mixin flex {
  display: flex;
  display: -webkit-box-flex;
  display: -ms-flexbox;
}

@mixin flex-center {
  @include flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@mixin flex-wrap {
  @include flex-center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

@mixin items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin self-center {
  align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
}

@mixin align-content-center {
  align-content: center;
  -ms-flex-line-pack: center;
}
@mixin flex-space-around {
  @include flex;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

@mixin flex-end {
  @include flex;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

@mixin bg-gradient($page-gradient-1color, $page-gradient-2color) {
  background: -webkit-linear-gradient(
    $page-gradient-1color,
    $page-gradient-2color
  );
  background: -o-linear-gradient($page-gradient-1color, $page-gradient-2color);
  background: linear-gradient($page-gradient-1color, $page-gradient-2color);
}

@mixin transition($args) {
  -webkit-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args) {
  -webkit-transform: $args;
  -ms-transform: $args;
  transform: $args;
}

@mixin animation($args) {
  -webkit-animation: $args;
  animation: $args;
}

@mixin preserve-3d {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@mixin perspective($val) {
  perspective: $val;
  -webkit-perspective: $val;
}
// NAVBAR
@mixin navbar__list {
  @include flex-end;
  @include items-center;
  list-style: none;
}

// PAGE 1

@mixin page1__bg {
  background-image: url(../img/hero-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin page1__title-font {
  font-size: 80px;
  font-stretch: extra-expanded;
  font-family: $font-hero-title;
  font-weight: 700;
  font-style: normal;
}

// PAGE 3
@mixin backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
