@use "variables" as *;

// HELPER

@mixin flex {
  display: flex;
  display: -webkit-box-flex;
  display: -ms-flexbox;
}

@mixin flex-center {
  @include flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@mixin justify-center {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@mixin flex-wrap {
  @include flex-center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

@mixin items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin self-center {
  align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
}

@mixin align-content-center {
  align-content: center;
  -ms-flex-line-pack: center;
}
@mixin flex-space-around {
  @include flex;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

@mixin flex-end {
  @include flex;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

@mixin bg-gradient($page-gradient-1color, $page-gradient-2color) {
  background: -webkit-linear-gradient(
    $page-gradient-1color,
    $page-gradient-2color
  );
  background: -o-linear-gradient($page-gradient-1color, $page-gradient-2color);
  background: linear-gradient($page-gradient-1color, $page-gradient-2color);
}

@mixin fit-content {
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args) {
  -webkit-transform: $args;
  -ms-transform: $args;
  transform: $args;
}

@mixin animation($args) {
  -webkit-animation: $args;
  animation: $args;
}

@mixin preserve-3d {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@mixin perspective($val) {
  perspective: $val;
  -webkit-perspective: $val;
}

@mixin object-cover {
  object-fit: cover;
  -o-object-fit: cover;
}
// NAVBAR
@mixin navbar__list {
  @include flex-end;
  @include items-center;
  list-style: none;
}

// PAGE 1
@mixin page1__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin page1__title-font {
  font-size: 5rem;
  font-stretch: extra-expanded;
  font-family: $font-hero-title;
  font-weight: 700;
  font-style: normal;
}

// PAGE 3
@mixin backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

// PAGE 4

@mixin grid-center($rows: null, $columns: null, $grid-gap: null) {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
  justify-content: center;
  display: -ms-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-grid-columns: $columns;
  -ms-grid-rows: $rows;

  // *:nth-child(1) {
  //   -ms-grid-row: 1;
  //   -ms-grid-column: 1;
  // }
  // *:nth-child(2) {
  //   -ms-grid-row: 1;
  //   -ms-grid-column: 3;
  // }
  // *:nth-child(3) {
  //   -ms-grid-row: 3;
  //   -ms-grid-column: 1;
  // }
  // *:nth-child(4) {
  //   -ms-grid-row: 3;
  //   -ms-grid-column: 3;
  // }

  // .page5__wrapper > *:nth-child(1) {
  //   -ms-grid-row: 1;
  //   -ms-grid-column: 1;
  // }
  // .page5__wrapper > *:nth-child(2) {
  //   -ms-grid-row: 1;
  //   -ms-grid-column: 3;
  // }
  // .page5__wrapper > *:nth-child(3) {
  //   -ms-grid-row: 3;
  //   -ms-grid-column: 1;
  // }
  // .page5__wrapper > *:nth-child(4) {
  //   -ms-grid-row: 3;
  //   -ms-grid-column: 3;
  // }
  // .page5__wrapper > *:nth-child(5) {
  //   -ms-grid-row: 5;
  //   -ms-grid-column: 1;
  // }
  // .page5__wrapper > *:nth-child(6) {
  //   -ms-grid-row: 5;
  //   -ms-grid-column: 3;
  // }
  // .page5__wrapper > *:nth-child(7) {
  //   -ms-grid-row: 7;
  //   -ms-grid-column: 1;
  // }
  // .page5__wrapper > *:nth-child(8) {
  //   -ms-grid-row: 7;
  //   -ms-grid-column: 3;
  // }

  //   .page5__wrapper-element1 {
  //     -ms-grid-row: 1;
  //     -ms-grid-row-span: 1;
  //     -ms-grid-column: 1;
  //     -ms-grid-column-span: 2;
  //   }

  //   .page5__wrapper-element2 {
  //     -ms-grid-row: 2;
  //     -ms-grid-row-span: 1;
  //     -ms-grid-column: 1;
  //     -ms-grid-column-span: 1;
  //   }

  //   .page5__wrapper-element3 {
  //     -ms-grid-row: 2;
  //     -ms-grid-row-span: 1;
  //     -ms-grid-column: 2;
  //     -ms-grid-column-span: 1;
  //   }

  //   .page5__wrapper-element4 {
  //     -ms-grid-row: 3;
  //     -ms-grid-row-span: 1;
  //     -ms-grid-column: 1;
  //     -ms-grid-column-span: 1;
  //   }

  //   .page5__wrapper-element5 {
  //     -ms-grid-row: 3;
  //     -ms-grid-row-span: 1;
  //     -ms-grid-column: 2;
  //     -ms-grid-column-span: 1;
  //   }

  //   .page5__wrapper-element6 {
  //     -ms-grid-row: 4;
  //     -ms-grid-column: 1;
  //     -ms-grid-column-span: 2;
  //   }
  // }
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  box-shadow: $params;
}

@mixin filter-brightness($val) {
  filter: brightness($val);
  -webkit-filter: brightness($val);
}

// login-register page

@mixin login-register-flex {
  @include flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
