// custom colours for navbar

$navbar-bg: rgba(101, 87, 74, 0.8);
$navbar-item-border: rgb(48, 41, 41);
$navbar-item-bg: #97a3b380;
$navbar-item-hover: #61697480;
$join-us: #39a42980;
$join-us-hover: #74c70680;
