@use "variables" as *;
@use "mixins" as *;

body {
  @include page1__bg;
  background-image: url(../img/book-tour.jpg);
  color: $form-color;
  text-align: center;
  margin-top: 0;
  font-family: $font-stack;
}

.secondary-btn {
  background-color: transparent;
  border: $border-black;
  border-radius: 2.5rem;
  height: auto;
  max-width: 120px;
  margin: 0.5rem 0;
}

.main-nav {
  margin-top: -7.5rem;
  padding: 1rem 3.1rem;
}

// FORM

.book-tour-page {
  background-color: $form-bg;
  border-radius: 0.25rem;
  margin: 7.5rem auto 3.1rem;
  width: 50vw;
  padding: 1.8rem;
  label {
    display: block;
  }
  span {
    display: inline-block;
  }
  textarea {
    width: 100%;
    padding: 0.6rem 0.9rem;
  }
}

input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid $form-input-border;
  padding: 0.6rem 0.9rem;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  &:invalid {
    border: 1px solid $form-input-invalid;
  }
  &[type="submit"],
  &[type="reset"] {
    cursor: pointer;
  }
  &:hover,
  &:focus {
    background-color: $form-input-bg;
    border: 2px dashed $form-input-border;
  }
}
select {
  @extend input;
}

@media (max-width: 992px) {
  .book-tour-page {
    width: 80vw;
  }
}
