@use "variables" as *;
@use "mixins" as *;

body {
  background-image: url(../img/login-register.jpg);
  @include page1__bg;
  color: $login-register-color;
  text-align: center;
  margin-top: 12.5rem;
  font-family: $font-stack;
}

/* HELPER CLASSES */

.page-wrapper {
  @include login-register-flex;
}

.primary-btn {
  width: 375px;
  height: 43px;
  color: $primary-btn-login;
  background-color: $login-register-btn-bg1;
  &:hover {
    background-color: $login-register-btn-bg2;
  }
  &:active {
    background-color: $login-register-btn-bg3;
  }
}

.secondary-btn {
  background-color: transparent;
  border: $border-black;
  border-radius: 2.5rem;
  height: 40px;
  width: 120px;
  &:hover {
    background-color: $login-register-btn-bg1;
  }
  &:active {
    background-color: $login-register-btn-bg2;
  }
}

/* NAVBAR */

.main-nav {
  margin-top: -12.5rem;
}

/* SIGN IN FORM */
.questionary {
  background-color: $form-bg;
  width: 480px;
  border-radius: 1.8rem;
  overflow: hidden;
  margin-top: -4.3rem;
  padding: 1rem 3.1rem 0.6rem;
  .sign-in {
    &__text {
      &::before {
        content: "—";
      }
      &::after {
        content: "—";
      }
    }
  }
}

.formstyle {
  input {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #5d5d5d;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    display: inline-block;
    &::-moz-placeholder {
      color: $login-register-placeholder;
    }
    &[type="radio"] {
      transform: scale(2);
    }
  }
  span {
    display: inline-block;
  }
  label {
    display: block;
  }
}
