body {
  background-image: url(../img/login-register.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(65, 65, 65);
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-top: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 50px;
}

/* HELPER CLASSES */

.flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.link-style {
  text-decoration: none;
  color: #3d2e18;
  font-weight: bolder;
}

.btn-style {
  font-family: inherit;
  font-size: 16px;
  border-style: none;
}

button {
  cursor: pointer;
}

.primary-btn {
  color: #000000;
  background-color: #359b41;
  width: 183px;
  height: 43px;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 12px 12px 12px 18px;
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 40px;
  height: 40px;
  width: 120px;
}

.btn-border-none {
  border: none;
}

.p-right {
  padding-right: 10px;
}

.m-bottom32 {
  margin-bottom: 32px;
}

.m-bottom12 {
  margin-bottom: 12px;
}

.font-weight-700 {
  font-weight: 700;
}
.font-weight-500 {
  font-weight: 500;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

a {
  color: black;
  text-decoration: none;
}

/* NAVBAR */
.main-nav {
  margin-top: -200px;
}
.main-nav > ul > li:nth-of-type(5) {
  background-color: transparent;
}
.main-nav > ul > li:nth-of-type(5):hover {
  background-color: transparent;
}

/* SIGN IN FORM */
.signin-div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 480px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: -70px;
  padding: 15px 52px 10px;
  margin-bottom: 15px;
}

h1 {
  font-size: 36px;
  padding-bottom: 10px;
  font-weight: 600;
}

.signin-form-btn {
  width: 375px;
  height: 43px;
  color: #ffffff;
  font-weight: 500;
}

.formstyle input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #5d5d5d;
  padding: 14.5px 24px;
  box-sizing: border-box;
  display: inline-block;
}
.formstyle input::-moz-placeholder {
  color: #797979;
}

.textalign-left {
  text-align: left;
}

.social-media-buttons button:nth-child(2) {
  margin: 0 3px;
}
.social-media-buttons > button:hover,
.formstyle > button:hover {
  background-color: #074b08;
}
.social-media-buttons > button:active,
.formstyle > button:active {
  background-color: #03210f;
}
.sign-in-text::before {
  content: "—";
}
.sign-in-text::after {
  content: "—";
}

span {
  display: inline-block;
}
label {
  display: block;
  font-size: 18;
  font-weight: 600;
}

input[type="radio"] {
  transform: scale(2);
}
