/* Navigation bar with flexbox*/

@use "variables" as *;
@use "mixins" as *;

.main-nav {
  @include flex-space-around;
  background-color: $navbar-bg;
  padding: 5px 50px;
  position: fixed;
  z-index: 3;
  margin-top: -68px;
  width: 100%;

  &__list {
    @include navbar__list;

    &-item {
      background-color: $navbar-item-bg;
      margin: 10px 15px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $navbar-item-border;
      @include transition(background-color 0.5s ease-in);
      @include transition(scale 0.5s ease-in-out);

      &:hover {
        background-color: $navbar-item-hover;
        @include transform(scale(1.1));
      }
    }
  }

  &__form {
    border: none;
    background-color: transparent;
    margin-left: 130px;
  }

  & input[type="text"] {
    width: 200px;
  }
  & input[type="submit"] {
    width: 65px;
  }

  .bg-green {
    background-color: $join-us;
    @include transition(500ms all ease-out);
    @include animation(wiggle 3s ease-out infinite);
    &:hover {
      background-color: $join-us-hover;
    }
  }
}
