@use "variables" as *;
@use "mixins" as *;

// IMPORTED FONTS

// hero page h1
@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Satisfy&display=swap");
// hero page p
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Satisfy&display=swap");

body {
  margin-top: 11.5vh;
  font-family: $font-stack;
  background-image: url(../img/body-background1.jpg);
  background-position: center;
  background-size: 25%;
}

.section-position {
  height: 100vh;
  width: 100%;
}

.heading-transparent {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  font-stretch: narrower;
  background-color: transparent;
}

.page-heading {
  @extend .heading-transparent;
  background-color: $page-heading-bg;
  margin-right: 10%;
  margin-left: 10%;
}

strong {
  font-weight: bolder;
}
em {
  font-style: italic;
}
.hidden {
  overflow: hidden;
}
.link-style {
  text-decoration: none;
  color: $page-link;
  font-weight: bolder;
}

// PADDINGS

.pr-10 {
  padding-right: 10px;
}

.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-30 {
  padding-bottom: 5.1vh;
}
.pb-50 {
  padding-bottom: 8.5vh;
}
.pb-80 {
  padding-bottom: 13.6vh;
}

// MARGINS

.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 5.1vh;
}
.mt-15 {
  margin-top: 15px;
}
.mt-30 {
  margin-top: 5.1vh;
}
.mt-60 {
  margin-top: 10.2vh;
}
.mt-70 {
  margin-top: -12vh;
}

// FONT SIZES

.f-s12 {
  font-size: 0.75em;
}
.f-s13 {
  font-size: 0.8em;
}
.f-s18 {
  font-size: 1.1em;
}
.f-s20 {
  font-size: 1.25em;
}
.f-s22 {
  font-size: 1.37em;
}
.f-s23 {
  font-size: 1.4em;
}
.f-s25 {
  font-size: 1.5em;
}
.f-s28 {
  font-size: 1.75em;
}
.f-s30 {
  font-size: 1.87em;
}
.f-s34 {
  font-size: 2.1em;
}
.f-s50 {
  font-size: 3.1em;
}

// FONT WEIGHT

.fw-550 {
  font-weight: 550;
}
.fw-600 {
  font-weight: 600;
}
.fw-bolder {
  font-weight: bolder;
}
.br-20 {
  border-radius: 1.25em;
}

//BTN

.primary-btn {
  background-color: $page-heading-bg;
  border-style: none;
  padding: 10px 20px;
  font-family: inherit;
  color: $primary-btn-color;
  @include transition(500ms background-color linear);
  @include transition(500ms color ease-in);
  a {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    background-color: $primary-btn-hover;
    color: $primary-btn-hover-color;
  }
  &:active {
    background-color: $primary-btn-active;
  }
}

// PAGE 1

.page1 {
  @include page1__bg;
  background-image: url(../img/hero-photo.png);
  color: $hero-title;
  text-align: center;
  &__content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    &-title {
      @include page1__title-font;
      margin-bottom: 20px;
      @include animation(flow 5s forwards infinite);
    }
    p {
      font-family: $font-hero-text;
      border: 1px solid $hero-text-border;
      padding: 20px 10px;
      background-color: $hero-text-bg;
    }
  }
}

// PAGE 2

.page2 {
  @include bg-gradient($page-gradient-1color, $page-gradient-2color);
  &__wrapper {
    @include flex-center;
    @include items-center;
  }
  &__img-relative {
    position: relative;
    left: -70px;
  }
  &__img1,
  &__img2 {
    width: 26%;
    @include transition(500ms transform ease-in-out 100ms);
    &:hover {
      @include transform(scale(1.2));
      z-index: 1;
    }
  }

  &__content {
    width: 480px;
    @include self-center;
    line-height: 130%;
  }
  &__stats {
    &-link {
      color: $page-link;
      display: block;
      margin: 20px;
      text-align: center;
      @include transition(500ms transform ease-out);
      @include transition(200ms color ease-in);
      &:hover {
        color: $page2-link-hover;
        @include transform(
          translateX(10px) rotate(10deg) translateY(5px) scale(1.5)
        );
      }
    }
  }
}

// PAGE 3 AMENITIES

.page3 {
  background-color: $page-gradient-2color;
  &__cards {
    @include flex-wrap;
  }
}

.flip-card {
  width: 250px;
  height: 200px;
  margin: 12px;
  background-color: $flip-card-bg;
  color: $flip-card-color;
  @include flex-column;
  @include items-center;
  justify-items: center;
  position: relative;
  text-align: center;
  @include transition(600ms all ease-out);
  @include preserve-3d;
  @include perspective(1000px);
  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    @include backface-hidden;
  }
  &__back {
    @extend .flip-card__front;
    overflow: hidden;
    @include transform(rotateY(180deg));
    position: relative;
    &-img {
      width: 300px;
      height: auto;
      position: absolute;
      left: -30%;
      top: -10%;
    }
  }
}

.separate-flip:hover {
  .flip-card {
    @include transform(rotateY(180deg) rotate(2deg) scale(1.17));
    z-index: 2;
    box-shadow: 2px 2px 10px $flip-card-shadow;
    border: 10px double $page-heading-bg;
  }
}

//  PAGE 4 CHOOSE-BOOK

.page4 {
  @include bg-gradient($page-gradient-2color, $page-gradient-1color);
  padding: 50px 50px;
  &__options {
    @include grid-center(repeat(2, 425px), repeat(2, 425px), 15px);
  }
}

.option {
  min-width: 400px;
  min-height: 400px;
  background-color: $option-bg;
  margin: 25px;
  &__card {
    position: relative;
    &:hover {
      .option__card-img,
      .option__card-badge-discount {
        opacity: 0.3;
      }
      .option__card-description {
        opacity: 1;
        visibility: visible;
      }
    }

    &-description {
      position: absolute;
      top: 32%;
      left: 2%;
      line-height: 1.2;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      color: $option-description;
      @include transition(1000ms opacity ease-out);
    }
    &-img {
      width: 100%;
      height: 100%;
      @include object-cover;
      height: 300px;
    }
    &-badge-new {
      position: absolute;
      top: 10px;
      left: 0;
      background-color: $option-badge-new;
      color: $hero-title;
      padding: 10px;
    }
    &-badge-discount {
      position: absolute;
      top: 40px;
      right: -55px;
      background-color: $option-badge-discount;
      color: $hero-title;
      padding: 5px 50px;
      @include transform(rotateZ(50deg));
    }
  }
  &__title {
    color: $option-title;
    text-align: center;
  }
}

.option__btn {
  position: relative;
  &-buy {
    width: 300px;
    height: 40px;
    background-color: $option-btn-bg;
    @include box-shadow(4px 4px 1px $option-btn-shadow);
    position: absolute;
    top: 5px;
    left: 50px;
    @include transition(400ms all ease-out);
    &:hover {
      @include transform(scale(1.1));
    }
  }
}

.book-tour {
  text-align: center;
  color: $option-bg;
  a {
    text-decoration: none;
    color: $book-tour-link;
    @include transition(500ms all ease-out);
    &:hover {
      color: $book-tour-link-hover;
      @include transform(scale(1.5));
      outline: dotted $book-tour-outline-hover;
    }
  }
}
// PAGE 5 why us

.page5 {
  background-color: $page-gradient-1color;
  h2 {
    color: $page5-heading;
  }
  &__wrapper {
    @include grid-center(repeat(4, 400px), repeat(2, 500px), 15px);
    &-element1 {
      grid-area: 1 / 1 / 2 / 3;
    }
    &-element2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    &-element3 {
      grid-area: 2 / 2 / 3 / 3;
    }
    &-element4 {
      grid-area: 3 / 1 / 4 / 2;
    }
    &-element5 {
      grid-area: 3 / 2 / 4 / 3;
    }
    &-element6 {
      grid-area: 4 / 1 / 4 / 3;
    }
  }
  &__reason {
    position: relative;
    @include filter-brightness(50%);
    @include transition(500ms filter ease-out);
    &:hover {
      @include filter-brightness(100%);
    }
    &-img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      @include object-cover;
    }
    &-text {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: auto;
      height: auto;
      background-color: $hero-title;
      padding: 10px;
      @include box-shadow(10px 10px 0 $page5-text-shadow);
    }
  }
}

// GALLERY
.page6 {
  background-color: $page-gradient-1color;
  h2 {
    color: $page5-heading;
  }
  .gallery {
    @include flex-center;
  }
  #carouselExample {
    width: 65%;
  }
}
