body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.section-position {
  height: 100vh;
  width: 100%;
}

/* first page main section */
.section1 {
  background-image: url(../img/hero-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
/* Container for h1 and p (hero page) */

.container-section1 {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
h1 {
  font-size: 70px;
  font-stretch: extra-expanded;
  margin-bottom: 20px;
}
.section1 p {
  font-weight: bolder;
  border: 1px solid #3d352a;
  padding: 20px;
  background-color: rgba(141, 139, 139, 0.5);
  font-size: 50px;
}

/* Button styling for hero page */

.btn-hero {
  background-color: #ae832d;
  border-style: none;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 20px;
  font-weight: bolder;
  color: #3f2f1a;
  margin-top: 15px;
}

.btn-hero:hover {
  background-color: #1d9e51;
  color: white;
}

.btn-hero:active {
  background-color: #474a40;
  color: white;
}

/* Navigation bar */
.main-nav {
  display: inline-block;
  background-color: transparent;
  text-align: left;
  margin: 5px 10px;
}

.main-nav ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.main-nav form {
  display: inline-block;
  margin-right: 120px;
}

.main-nav input[type="text"] {
  width: 200px;
}

.main-nav input[type="submit"] {
  width: 65px;
}

.main-nav li {
  display: inline-block;
  background-color: #97a3b380;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(48, 41, 41);
}

.main-nav li:last-child {
  margin-right: 100px;
}
.main-nav a {
  text-decoration: none;
  color: #3d2e18;
  font-weight: bolder;
}

/* Page 2 about us */
.section2 {
  background: linear-gradient(#71574c, #97a3b3);
}

.img-section2 {
  border-radius: 20px;
  width: 30%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 150px;
  margin-top: 60px;
  vertical-align: top;
}

.s2-numbers p {
  font-size: 34px;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 20px;
}

.s2-numbers p:first-of-type {
  margin-top: 60px;
}
.section2-p p {
  margin-bottom: 15px;
}
.section2-p {
  width: 500px;
  margin-top: 90px;
  display: inline-block;
  font-size: 20px;
  line-height: 130%;
}

#about a {
  font-size: 20px;
  font-weight: bolder;
  color: #3d2e18;
  display: block;
  margin: 20px;
  text-align: center;
}

#about a:hover {
  color: #804507;
  font-size: larger;
}

/* Page 3 choose-book */

.section3 {
  background: linear-gradient(#71574c, #97a3b3);
}
