@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Satisfy&display=swap");
body {
  margin-top: 68px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/body-background1.jpg);
  background-position: center;
  background-size: 25%;
}

.section-position {
  height: 100vh;
  width: 100%;
}

.heading-transparent, .page-heading {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-stretch: narrower;
  background-color: transparent;
}

.page-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #ae832d;
  margin-right: 10%;
  margin-left: 10%;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

.hidden {
  overflow: hidden;
}

.link-style {
  text-decoration: none;
  color: #3d2e18;
  font-weight: bolder;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70px {
  margin-top: -70px;
}

.f-s20 {
  font-size: 20;
}

.f-s22 {
  font-size: 22;
}

.f-s23 {
  font-size: 23px;
}

.f-s25 {
  font-size: 25px;
}

.f-s28 {
  font-size: 28;
}

.f-s30 {
  font-size: 30;
}

.f-s34 {
  font-size: 34px;
}

.f-s50 {
  font-size: 50px;
}

.fw-550 {
  font-weight: 550;
}

.fw-600 {
  font-weight: 600;
}

.fw-bolder {
  font-weight: bolder;
}

.br-20 {
  border-radius: 20px;
}

.primary-btn {
  background-color: #ae832d;
  border-style: none;
  padding: 10px 20px;
  font-family: inherit;
  color: #3f2f1a;
  -webkit-transition: 500ms background-color linear;
  -o-transition: 500ms background-color linear;
  transition: 500ms background-color linear;
  -webkit-transition: 500ms color ease-in;
  -o-transition: 500ms color ease-in;
  transition: 500ms color ease-in;
}
.primary-btn a {
  text-decoration: none;
  color: inherit;
}
.primary-btn:hover {
  background-color: #1d9e51;
  color: white;
}
.primary-btn:active {
  background-color: #474a40;
}

.page1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/hero-photo.png);
  color: white;
  text-align: center;
}
.page1__content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
.page1__content-title {
  font-size: 80px;
  font-stretch: extra-expanded;
  font-family: "Satisfy", cursive;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  -webkit-animation: flow 5s forwards infinite;
  animation: flow 5s forwards infinite;
}
.page1__content p {
  font-family: "Karla", sans-serif;
  border: 1px solid #3d352a;
  padding: 20px 10px;
  background-color: rgba(61, 53, 42, 0.5);
}

.page2 {
  background: -webkit-linear-gradient(#71574c, #97a3b3);
  background: -o-linear-gradient(#71574c, #97a3b3);
  background: linear-gradient(#71574c, #97a3b3);
}
.page2__wrapper {
  display: flex;
  display: -webkit-box-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page2__img-relative {
  position: relative;
  left: -70px;
}
.page2__img1, .page2__img2 {
  width: 26%;
  -webkit-transition: 500ms transform ease-in-out 100ms;
  -o-transition: 500ms transform ease-in-out 100ms;
  transition: 500ms transform ease-in-out 100ms;
}
.page2__img1:hover, .page2__img2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}
.page2__content {
  width: 480px;
  align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  line-height: 130%;
}
.page2__stats-link {
  color: #3d2e18;
  display: block;
  margin: 20px;
  text-align: center;
  -webkit-transition: 500ms transform ease-out;
  -o-transition: 500ms transform ease-out;
  transition: 500ms transform ease-out;
  -webkit-transition: 200ms color ease-in;
  -o-transition: 200ms color ease-in;
  transition: 200ms color ease-in;
}
.page2__stats-link:hover {
  color: #0f6f2c;
  -webkit-transform: translateX(10px) rotate(10deg) translateY(5px) scale(1.5);
  -ms-transform: translateX(10px) rotate(10deg) translateY(5px) scale(1.5);
  transform: translateX(10px) rotate(10deg) translateY(5px) scale(1.5);
}

.page3 {
  background-color: #97a3b3;
}
.page3__cards {
  display: flex;
  display: -webkit-box-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.flip-card {
  width: 250px;
  height: 200px;
  margin: 12px;
  background-color: rgb(178, 178, 178);
  color: #33352e;
  display: flex;
  display: -webkit-box-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  position: relative;
  text-align: center;
  -webkit-transition: 600ms all ease-out;
  -o-transition: 600ms all ease-out;
  transition: 600ms all ease-out;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.flip-card__front, .flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.flip-card__back {
  overflow: hidden;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: relative;
}
.flip-card__back-img {
  width: 300px;
  height: auto;
  position: absolute;
  left: -30%;
  top: -10%;
}

.separate-flip:hover .flip-card {
  -webkit-transform: rotateY(180deg) rotate(2deg) scale(1.17);
  -ms-transform: rotateY(180deg) rotate(2deg) scale(1.17);
  transform: rotateY(180deg) rotate(2deg) scale(1.17);
  z-index: 2;
  box-shadow: 2px 2px 10px rgb(75, 77, 74);
  border: 10px double #ae832d;
}

.page4 {
  background: -webkit-linear-gradient(#97a3b3, #71574c);
  background: -o-linear-gradient(#97a3b3, #71574c);
  background: linear-gradient(#97a3b3, #71574c);
  padding: 50px 50px;
}
.page4__options {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: repeat(2, 425px);
  grid-template-columns: repeat(2, 425px);
  justify-content: center;
  display: -ms-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-grid-columns: repeat(2, 425px);
  -ms-grid-rows: repeat(2, 425px);
}

.option {
  min-width: 400px;
  min-height: 400px;
  background-color: #d8d8d8;
  margin: 25px;
}
.option__card {
  position: relative;
}
.option__card:hover .option__card-img,
.option__card:hover .option__card-badge-discount {
  opacity: 0.3;
}
.option__card:hover .option__card-description {
  opacity: 1;
  visibility: visible;
}
.option__card-description {
  position: absolute;
  top: 32%;
  left: 2%;
  line-height: 1.2;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  color: #383333;
  -webkit-transition: 1000ms opacity ease-out;
  -o-transition: 1000ms opacity ease-out;
  transition: 1000ms opacity ease-out;
}
.option__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  height: 300px;
}
.option__card-badge-new {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #39a429;
  color: white;
  padding: 10px;
}
.option__card-badge-discount {
  position: absolute;
  top: 40px;
  right: -55px;
  background-color: #c253ac;
  color: white;
  padding: 5px 50px;
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
}
.option__title {
  color: #0f932a;
  text-align: center;
}

.option__btn {
  position: relative;
}
.option__btn-buy {
  width: 300px;
  height: 40px;
  background-color: #9bae2d;
  -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5px;
  left: 50px;
  -webkit-transition: 400ms all ease-out;
  -o-transition: 400ms all ease-out;
  transition: 400ms all ease-out;
}
.option__btn-buy:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.book-tour {
  text-align: center;
  color: #d8d8d8;
}
.book-tour a {
  text-decoration: none;
  color: #460f0f;
  -webkit-transition: 500ms all ease-out;
  -o-transition: 500ms all ease-out;
  transition: 500ms all ease-out;
}
.book-tour a:hover {
  color: #cdd858;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  outline: dotted rgb(69, 15, 15);
}

.page5 {
  background-color: #71574c;
}
.page5 h2 {
  color: rgb(192, 180, 180);
}
.page5__wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: repeat(4, 400px);
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  display: -ms-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-grid-columns: repeat(2, 500px);
  -ms-grid-rows: repeat(4, 400px);
}
.page5__wrapper-element1 {
  grid-area: 1/1/2/3;
}
.page5__wrapper-element2 {
  grid-area: 2/1/3/2;
}
.page5__wrapper-element3 {
  grid-area: 2/2/3/3;
}
.page5__wrapper-element4 {
  grid-area: 3/1/4/2;
}
.page5__wrapper-element5 {
  grid-area: 3/2/4/3;
}
.page5__wrapper-element6 {
  grid-area: 4/1/4/3;
}
.page5__reason {
  position: relative;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -webkit-transition: 500ms filter ease-out;
  -o-transition: 500ms filter ease-out;
  transition: 500ms filter ease-out;
}
.page5__reason:hover {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}
.page5__reason-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.page5__reason-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 0 #9bae2d;
  box-shadow: 10px 10px 0 #9bae2d;
}

.page6 {
  background-color: #71574c;
}
.page6 h2 {
  color: rgb(192, 180, 180);
}
.page6 .gallery {
  display: flex;
  display: -webkit-box-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.page6 #carouselExample {
  width: 65%;
}

/*# sourceMappingURL=styles.css.map */
