@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Satisfy&display=swap");
body {
  margin-top: 68px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/body-background1.jpg);
  background-position: center;
  background-size: 25%;
}

.section-position {
  height: 100vh;
  width: 100%;
}

.page-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #ae832d;
  margin-right: 10%;
  margin-left: 10%;
}

.heading-transparent,
.page-heading {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-stretch: narrower;
  background-color: transparent;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

.hidden {
  overflow: hidden;
}

.link-style {
  text-decoration: none;
  color: #3d2e18;
  font-weight: bolder;
}

.pt30 {
  padding-top: 30px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt15 {
  margin-top: 15px;
}

.mt60 {
  margin-top: 60px;
}

.mt-70px {
  margin-top: -70px;
}

.f-s20 {
  font-size: 20;
}

.f-s34 {
  font-size: 34px;
}

.f-s50 {
  font-size: 50px;
}

.fw-550 {
  font-weight: 550;
}

.fw-bolder {
  font-weight: bolder;
}

.br20 {
  border-radius: 20px;
}

.primary-btn {
  background-color: #ae832d;
  border-style: none;
  padding: 10px 20px;
  font-family: inherit;
  color: #3f2f1a;
  -webkit-transition: 500ms background-color linear;
  -o-transition: 500ms background-color linear;
  transition: 500ms background-color linear;
  -webkit-transition: 500ms color ease-in;
  -o-transition: 500ms color ease-in;
  transition: 500ms color ease-in;
}
.primary-btn a {
  text-decoration: none;
  color: inherit;
}
.primary-btn:hover {
  background-color: #1d9e51;
  color: white;
}
.primary-btn:active {
  background-color: #474a40;
}

.page1 {
  background-image: url(../img/hero-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.page1__content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
.page1__content-title {
  font-size: 80px;
  font-stretch: extra-expanded;
  font-family: "Satisfy", cursive;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  -webkit-animation: flow 5s forwards infinite;
  animation: flow 5s forwards infinite;
}
.page1__content p {
  font-family: "Karla", sans-serif;
  border: 1px solid #3d352a;
  padding: 20px 10px;
  background-color: rgba(61, 53, 42, 0.5);
}

.page2 {
  background: -webkit-linear-gradient(#71574c, #97a3b3);
  background: -o-linear-gradient(#71574c, #97a3b3);
  background: linear-gradient(#71574c, #97a3b3);
}
.page2__wrapper {
  display: flex;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page2__img1,
.page2__img2 {
  width: 26%;
  -webkit-transition: 500ms transform ease-in-out 100ms;
  -o-transition: 500ms transform ease-in-out 100ms;
  transition: 500ms transform ease-in-out 100ms;
}
.page2__img1:hover,
.page2__img2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}
.page2__img-relative {
  position: relative;
  left: -70px;
}
.page2__content {
  width: 480px;
  align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  line-height: 130%;
}
.page2__stats-link {
  color: #3d2e18;
  display: block;
  margin: 20px;
  text-align: center;
  -webkit-transition: 500ms transform ease-out;
  -o-transition: 500ms transform ease-out;
  transition: 500ms transform ease-out;
  -webkit-transition: 200ms color ease-in;
  -o-transition: 200ms color ease-in;
  transition: 200ms color ease-in;
}
.page2__stats-link:hover {
  color: #0f6f2c;
  -webkit-transform: translateX(10px) rotate(10deg) translateY(5px) scale(1.5);
  -ms-transform: translateX(10px) rotate(10deg) translateY(5px) scale(1.5);
  transform: translateX(10px) rotate(10deg) translateY(5px) scale(1.5);
}

/*# sourceMappingURL=styles.css.map */
