@use "variables" as *;
@use "mixins" as *;

// IMPORTED FONTS

// hero page h1
@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Satisfy&display=swap");
// hero page p
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Satisfy&display=swap");

body {
  margin-top: 4.1rem;
  font-family: $font-stack;
  background-image: url(../img/body-background1.jpg);
  background-position: center;
  background-size: 25%;
}

%section-position {
  min-height: 100vh;
  width: 100%;
}

.heading-transparent {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  font-stretch: narrower;
  background-color: transparent;
}

.page-heading {
  @extend .heading-transparent;
  background-color: $page-heading-bg;
  margin: 0 4rem 0;
}

strong {
  font-weight: bolder;
}
em {
  font-style: italic;
}
.hidden {
  overflow: hidden;
}
.link-style {
  text-decoration: none;
  color: $page-link;
  font-weight: bolder;
}

// PADDINGS

.pr-10 {
  padding-right: 0.6rem;
}
.pt-10 {
  padding-top: 0.6rem;
}
.pt-15 {
  padding-top: 0.9rem;
}
.pt-20 {
  padding-top: 1.25rem;
}
.pt-30 {
  padding-top: 1.8rem;
}
.pb-10 {
  padding-bottom: 0.6rem;
}
.pb-30 {
  padding-bottom: 1.8rem;
}
.pb-50 {
  padding-bottom: 3.1rem;
}
.pb-80 {
  padding-bottom: 5rem;
}

// MARGINS

.mb-10 {
  margin-bottom: 0.6rem;
}
.mb-15 {
  margin-bottom: 0.9rem;
}
.mb-20 {
  margin-bottom: 1.25rem;
}
.mb-30 {
  margin-bottom: 1.8rem;
}

.mt-15 {
  margin-top: 0.9rem;
}
.mt-30 {
  margin-top: 1.8rem;
}
.mt-23 {
  margin-top: 23px;
}
.mt-60 {
  margin-top: 3.75rem;
}
.mt-70 {
  margin-top: -4.3rem;
}

// FONT SIZES

.f-s12 {
  font-size: 0.75rem;
}
.f-s13 {
  font-size: 0.8rem;
}
.f-s18 {
  font-size: 1.1rem;
}
.f-s20 {
  font-size: 1.25rem;
}
.f-s22 {
  font-size: 1.37rem;
}
.f-s23 {
  font-size: 1.4rem;
}
.f-s25 {
  font-size: 1.5rem;
}
.f-s28 {
  font-size: 1.75rem;
}
.f-s30 {
  font-size: 1.87rem;
}
.f-s34 {
  font-size: 2.1rem;
}
.f-s50 {
  font-size: 3.1rem;
}

// FONT WEIGHT

.fw-550 {
  font-weight: 550;
}
.fw-600 {
  font-weight: 600;
}
.fw-bolder {
  font-weight: bolder;
}
.br-20 {
  border-radius: 20px;
}

//BTN

.primary-btn {
  background-color: $page-heading-bg;
  border-style: none;
  padding: 0.6rem 1.25rem;
  font-family: inherit;
  color: $primary-btn-color;
  @include transition(500ms background-color linear);
  @include transition(500ms color ease-in);
  a {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    background-color: $primary-btn-hover;
    color: $primary-btn-hover-color;
  }
  &:active {
    background-color: $primary-btn-active;
  }
}

// PAGE 1

.page1 {
  @include page1__bg;
  background-image: url(../img/hero-photo.png);
  color: $hero-title;
  text-align: center;
  @extend %section-position;
  &__content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;

    &-title {
      @include page1__title-font;
      margin-bottom: 0.3em;
      @include animation(flow 5000ms forwards infinite);
    }
    p {
      font-family: $font-hero-text;
      border: 1px solid $hero-text-border;
      padding: 1.25rem 0.6rem;
      background-color: $hero-text-bg;
    }
  }
}

// PAGE 2

.page2 {
  @include bg-gradient($page-gradient-1color, $page-gradient-2color);
  @extend %section-position;
  @include flex-center;
  @include items-center;

  &__img-relative {
    position: relative;
    left: -68px;
  }
  &__img1,
  &__img2 {
    width: 26%;
    @include transition(500ms transform ease-in-out 100ms);
    &:hover {
      @include transform(scale(1.2));
      z-index: 1;
    }
  }

  &__content {
    width: 35vw;
    @include fit-content;
    @include self-center;
    line-height: 130%;
  }
  &__stats {
    &-link {
      color: $page-link;
      display: block;
      margin: 1.25rem;
      text-align: center;
      @include transition(500ms transform ease-out);
      @include transition(200ms color ease-in);
      &:hover {
        color: $page2-link-hover;
        @include transform(
          translateX(10px) rotate(10deg) translateY(5px) scale(1.5)
        );
      }
    }
  }
}

// PAGE 3 AMENITIES

.page3 {
  background-color: $page-gradient-2color;
  &__cards {
    @include flex-wrap;
  }
}

.flip-card {
  // Do I need to add responsive width/height values here? as it's a flex-wrap and after shrinking the columns and rows order will change
  // width: 18.3vw;
  // height: 34vh;
  width: 250px;
  height: 200px;
  margin: 0.75rem;
  background-color: $flip-card-bg;
  color: $flip-card-color;
  @include flex-column;
  @include items-center;
  justify-items: center;
  position: relative;
  text-align: center;
  @include transition(600ms all ease-out);
  @include preserve-3d;
  @include perspective(1000px);
  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    @include backface-hidden;
  }
  &__back {
    @extend .flip-card__front;
    overflow: hidden;
    @include transform(rotateY(180deg));
    position: relative;
    &-img {
      max-width: 300px;
      height: auto;
      position: absolute;
      left: -30%;
      top: -10%;
    }
  }
}

.separate-flip:hover {
  .flip-card {
    @include transform(rotateY(180deg) rotate(2deg) scale(1.17));
    z-index: 2;
    box-shadow: 2px 2px 10px $flip-card-shadow;
    border: 10px double $page-heading-bg;
  }
}

//  PAGE 4 CHOOSE-BOOK

.page4 {
  @extend %section-position;
  @include bg-gradient($page-gradient-2color, $page-gradient-1color);
  &__options {
    margin: 0 auto;
    @media (max-width: 420px) {
      @include grid-center(repeat(4, 60%), 100%, 3rem);
      .option {
        width: 100%;
        margin: 0 auto;
      }
    }
    @media (min-width: 421px) and (max-width: 768px) {
      padding: 3.1rem 1rem;
      @include grid-center(repeat(4, 60%), 100%, 1rem);
      .option {
        width: auto;
        &__card {
          &__title {
            margin-top: 5px;
          }
        }
      }
    }
    @media (min-width: 769px) and (max-width: 100vw) {
      @include grid-center(repeat(2, 50%), repeat(2, 50%), 0);
      max-width: 70vw;
      .option {
        width: 90%;
      }
    }
  }
}

.option {
  width: 400px;
  height: 390px;
  background-color: $option-bg;
  margin: 1.5rem;
  &__card {
    position: relative;
    &:hover {
      .option__card-img,
      .option__card-badge-discount,
      .option__card-badge-new {
        opacity: 0.3;
      }
      .option__card-description {
        opacity: 1;
        visibility: visible;
        max-height: fit-content;
      }
    }

    &-description {
      position: absolute;
      top: 60px;
      left: 5px;
      margin: 0 20px;
      line-height: 1.2;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      color: $option-description;
      @include transition(1000ms opacity ease-out);
    }
    &-img {
      width: 100%;
      height: 100%;
      @include object-cover;
      height: 300px;
    }
    &-badge-new {
      position: absolute;
      top: 10px;
      left: 0;
      background-color: $option-badge-new;
      color: $hero-title;
      padding: 0.6rem;
    }
    &-badge-discount {
      position: absolute;
      top: 40px;
      right: -55px;
      background-color: $option-badge-discount;
      color: $hero-title;
      padding: 5px 3.1rem;
      @include transform(rotateZ(50deg));
    }
  }
  &__title {
    color: $option-title;
    text-align: center;
  }
}

.option__btn {
  position: relative;
  &-buy {
    @extend .primary-btn;
    width: 75%;
    height: 40px;
    background-color: $option-btn-bg;
    @include box-shadow(4px 4px 1px $option-btn-shadow);
    position: absolute;
    top: 10px;
    left: 10%;
    margin: 0 0.6rem;

    @include transition(400ms all ease-out);
    &:hover {
      @include transform(scale(1.1));
    }
  }
}

.book-tour {
  text-align: center;
  color: $option-bg;
  a {
    text-decoration: none;
    color: $book-tour-link;
    @include transition(500ms all ease-out);
    &:hover {
      color: $book-tour-link-hover;
      @include transform(scale(1.5));
      outline: dotted $book-tour-outline-hover;
    }
  }
}
// PAGE 5 why us

.page5 {
  background-color: $page-gradient-1color;
  @extend %section-position;
  h2 {
    color: $page5-heading;
  }
  &__wrapper {
    @include grid-center(repeat(4, 400px), repeat(2, 500px), 15px);

    &-element1 {
      grid-area: 1 / 1 / 2 / 3;
      @extend .page5__reason;
    }
    &-element2 {
      grid-area: 2 / 1 / 3 / 2;
      @extend .page5__reason;
    }
    &-element3 {
      grid-area: 2 / 2 / 3 / 3;
      @extend .page5__reason;
    }
    &-element4 {
      grid-area: 3 / 1 / 4 / 2;
      @extend .page5__reason;
    }
    &-element5 {
      grid-area: 3 / 2 / 4 / 3;
      @extend .page5__reason;
    }
    &-element6 {
      grid-area: 4 / 1 / 4 / 3;
      @extend .page5__reason;
    }
  }
  &__reason {
    position: relative;
    @include filter-brightness(50%);
    @include transition(500ms filter ease-out);
    &:hover {
      @include filter-brightness(100%);
    }
    &-img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      @include object-cover;
    }
    &-text {
      position: absolute;
      bottom: 1.25rem;
      left: 1.25rem;
      width: auto;
      height: auto;
      background-color: $hero-title;
      padding: 0.6rem;
      @include box-shadow(10px 10px 0 $page5-text-shadow);
    }
  }
}

// GALLERY
.page6 {
  background-color: $page-gradient-1color;
  h2 {
    color: $page5-heading;
  }
  .gallery {
    @include flex-center;
  }
  #carouselExample {
    width: 65%;
  }
}
